
    <div class = "jumbotron">
      <h1>ASHER BUENO</h1>
      <p>FULL STACK WEB DEVELOPER</p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h1 class="heading"> about </h1><br>
          <img class="circular-square"
               src="http://i.imgur.com/8jT8IrK.png?1"
               width="200"
               length="200"><br><br>
          <h2><b>HELLO!</b> I am Asher, a  Full Stack Web Developer in Sydney, Australia.</h2>
          <p>I have <i>'trained extensively'</i> at Coder Factory Academy to become a full stack web developer.
            It's time to leave the training grounds and prepare for world domination.
            When I'm not pursuing further mastery in other languages, I can be found doing the following:<br>
            <b><i>shooting hoops, playing video games, collecting sneakers and stuffing my face with food.</b></i></p><br><br>

          <p class="icons">
            <a href="https://github.com/asherbueno">
          <img src="http://i.imgur.com/p7AS8FG.png" alt="GitHub" width="50" height="50" border="0"></a>
          <a href="https://www.linkedin.com/in/asherbueno/">
          <img src="http://i.imgur.com/dxM1Ke3.png" alt="LinkedIN" width="50" height="50" border="0"></a>
          <a href="https://twitter.com/mrasherbueno">
          <img src="http://i.imgur.com/2eWcDUj.png" alt="Twitter" width="50" height="50" border="0"></a></p>
        </div>
      </div>
